<div class="parallax"></div>

<div class="wrap">
  <img src="../images/user.png
  " alt="user" class="avatar-large">
  <h1>Sylvie Lelièvre</h1>
  <h3>Naturopathe à Nantes & aux Herbiers</h3>
</div>

<div class="parallax2"></div>

<div class="wrap">
 <h3>Qu'est-ce que la naturopathie?</h3>
 <p> L’Organisation Mondiale de la Santé (O.M.S.) classe la naturopathie comme 3ème médecine traditionnelle mondiale, après les médecines traditionnelles chinoises et ayurvédiques. C’est sur ces bases que le Bureau International du Travail l’a officiellement enregistrée en 1968 et que de son côté, l’UNESCO la considère comme une médecine traditionnelle également.
<br>
  Aujourd’hui  l’O.M.S.  définit  la santé pour l’individu comme un « état complet de bien-être  physique, mental et social », et toujours selon l’OMS, "la naturopathie est un ensemble de méthodes de soins visant à renforcer les défenses de l'organisme par des moyens considérés comme naturels et biologiques''.
<br>
  Médecine préventiveLa naturopathie va bien au-delà de cette définition, pour faire simple elle défend le  « capital santé »   qui repose sur  l’art de rester en bonne santé, d’être acteur de sa santé et prendre soin de soi par des moyens naturels.
<br>
  La naturopathie englobe l’individu sur tous les plans  de l’être parce  qu’elle suppose que l’humain, dans la globalité et l’ «entièreté» qui le caractérisent, peut s’exprimer sur différents plans : physique, énergétique, émotionnel, mental,  spirituel, socioculturel et même planétaire (écologie).
<br>
  Cette discipline se compose de 2 axes distincts mais complémentaires :
<br>
  <ul>
    <li>
    Clefs d’une hygiène de vie  optimum  (conseils alimentaires, gestion du stress, activités physiques et respiratoires et outils  et techniques naturels : le naturopathe  agit en qualité d’un vrai éducateur de santé, dans un cadre de prévention primaire
    Clefs naturopathiques individualisées pour redynamiser les capacités d’auto guérison  propres à notre organisme
    On peut donc en conclure que la naturopathie a pour mission de prévenir la maladie, de conserver la santé, ou de l’optimiser par un mode de vie plus sain.
    </li>
    <li>
    NaturopathieLa naturopathie contribue ainsi à la promotion d’une santé globale et durable, qui ne se substitue jamais à la médecine conventionnelle mais  la complète, elle s’inscrit en parfaite complémentarité avec les autres pratiques sanitaires, médicales et/ou paramédicales.
    </li>
  </ul>
</p>
</div>

<div class="parallax3"></div>

<div class="wrap">
 <h3>Que puis-je faire pour vous?</h3>
 <p> Sylvie réalise dans un premier temps un bilan individualisé de terrain par l’observation, le questionnement et l’écoute de votre vie quotidienne. En fonction du résultat de ce bilan et de vos attentes, elle vous apporte des compléments alimentaires à base de vitamines, de plantes, d’oligo-élements, d’algues qui correspondent exactement à ce dont vous avez besoin sans vous nuire, ainsi que des conseils alimentaires en lien avec le terrain. Si besoin, un coaching à domicile vous est proposé. Afin d’utiliser un maximum de techniques adaptées, elle travaille également avec la phyto-embryothérapie ou gemmothérapie .
 <br>

  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
</p>
</div>

<div class="parallax4"></div>

<div class="wrap">
 <h3>Qui suis-je?</h3>
 <p> Sylvie a depuis son adolescence, été convaincue de la nécessité de prendre soin de soi et des autres. Elle s’est tout naturellement tournée vers le métier d’infirmière pour répondre à ce besoin profond de communication. Des soucis de santé l’ont amenée à réfléchir sur les causes et les origines des maladies et sur les bonnes habitudes préventives à prendre pour préserver au mieux notre santé. C’est cette approche préventive qui l’a guidée vers les médecines complémentaires, et sa passion pour l’alimentation santé vers le métier de naturopathe. Sa formation et ses compétences acquises lui permettent aujourd’hui de vous apporter des conseils simples et personnalisés, souvent méconnus du grand public, mais qu’il est possible d’intégrer simplement dans votre vie quotidienne.
</p>
</div>

<div class="parallax5"></div>

<div class="wrap-bottom">
  <div class="contact-title">
    <h4>Contact</h4>
  </div>
  <div class="contact-elements">
     <div>
      <h5> Adresse à Nantes : </h5>
      <p>1 Rue Esnoul des Châtelets</p>
      <p>44200 Nantes</p>
     </div>

      <div>
      <h5> Adresse aux Herbiers : </h5>
      <p>3 rue des Arts, Appt 004 </p>
      <p>85500 Les Herbiers</p>
     </div>

     <div>
      <h5> Contactez-moi : </h5>
      <p>Tel: 06.13.50.05.82</p>
      <p>
        <a href="mailto:slelievre55@gmail.com">@: slelievre55@gmail.com</a>
      </p>
     </div>
  </div>
</div>
